<div class="footer-dummy"></div>
<footer class="container-fluid footer">
    <div class="container footer-wrapper d-flex justify-content-center">
        <a href="/impressum">Impressum</a>
        <a href="/datenschutz">Datenschutz</a>
    </div>
</footer>
</body>
</html>