#parse("include/header.vm")
<body>
<nav class="navbar container-fluid">
    <div class="container">
        <div class="row w-100 gap-20-0">
            <div class="logo col-12 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start">
                <a href="https://www.bs1-bt.de/">
                    <img class="img-logo" src="/assets/logo.png" alt="Logo der Berufsschule Bayreuth">
                </a>
            </div>
            <div class="student col-12 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-end">
                Hallo $secretary.firstName $secretary.surName!
            </div>
        </div>
    </div>
</nav>

<div class="container student-data">
    <div class="row">
        <h2 class="color-primary pb-3">Letzter CSV Upload</h2>
    </div>
    <div class="row gap-20-0">
        <div class="col-12 col-md-3 d-flex flex-column">
            <span class="color-primary"><u>Datum:</u></span>
            <span class="pt-3">$csv.date</span>
        </div>
        <div class="col-12 col-md-3 d-flex flex-column">
            <span class="color-primary"><u>Dateiname:</u></span>
            <span class="pt-3">$csv.name</span>
        </div>
    </div>
</div>
<div class="container class-data">
    <div class="row">
        <h2 class="color-primary pb-3">CSV-Upload</h2>
    </div>
    <div class="row gap-20-0">
        <div class="col-12 col-md-3 d-flex flex-column">
            <form action="/secretary/upload" method="post" enctype="multipart/form-data">
                <input type="file" class="mb-3" name="csv" accept=".csv">
                <button class="btn btn-outline-primary" type="submit">Hochladen</button>
            </form>
        </div>
    </div>
</div>

#parse("include/footer.vm")