#parse("include/header.vm")
<body>
<nav class="navbar container-fluid">
    <div class="container">
        <div class="row w-100 gap-20-0">
            <div class="logo col-12 col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-start">
                <a href="https://www.bs1-bt.de/">
                    <img class="img-logo" src="/assets/logo.png" alt="Logo der Berufsschule Bayreuth">
                </a>
            </div>
            <div class="student col-12 col-lg-4 d-flex align-items-center justify-content-center">
                Hallo $student.firstName $student.surName!
            </div>
            <div class="contact col-12 col-lg-4 d-none d-lg-flex align-items-center justify-content-end">
                <a href="https://www.bs1-bt.de/allgemeines/kontakt" target="_blank" class="btn btn-outline-primary">Kontakt</a>
            </div>
        </div>
    </div>
</nav>

<div class="container student-data">
    <div class="row">
        <h2 class="color-primary pb-3">Deine Daten:</h2>
    </div>
    <div class="row gap-20-0">
        <div class="col-12 col-md-3 d-flex flex-column">
            <span class="color-primary"><u>Vorname:</u></span>
            <span class="pt-3">$student.firstName</span>
        </div>
        <div class="col-12 col-md-3 d-flex flex-column">
            <span class="color-primary"><u>Nachname:</u></span>
            <span class="pt-3">$student.surName</span>
        </div>
        <div class="col-12 col-md-3 d-flex flex-column">
            <span class="color-primary"><u>Geburtstag:</u></span>
            <span class="pt-3">$student.birthday</span>
        </div>
        <div class="col-12 col-md-3 d-flex flex-column">
            <span class="color-primary"><u>E-Mail:</u></span>
            <span class="pt-3">$student.email</span>
        </div>
    </div>
</div>
<div class="container class-data">
    <div class="row">
        <h2 class="color-primary pb-3">Deine Klasse:</h2>
    </div>
    <div class="row gap-20-0">
        <div class="col-12 col-md-3 d-flex flex-column">
            <span class="color-primary"><u>Klasse:</u></span>
            <span class="pt-3">$student.className</span>
        </div>
        <div class="col-12 col-md-3 d-flex flex-column">
            <span class="color-primary"><u>Beruf:</u></span>
            <span class="pt-3"></span>
        </div>
    </div>
</div>

#parse("include/footer.vm")