#parse("include/header.vm")
<script type="text/javascript">
    window.addEventListener("load", (event) => {
        let alertText = document.getElementById('alerttext');
        let classname = document.getElementById('classname').innerText;

        if(classname == "" || classname.substring(classname.length - 1) == 'n' || classname.substring(classname.length - 1) == 'N') {
            alertText.classList.add("show");
        }
    });
</script>
</head>
<body>
<nav class="navbar container-fluid">
    <div class="container justify-content-center justify-content-lg-between">
        <div class="row w-100 gap-10-0">
            <div class="logo col-12 col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-start">
                <a href="https://www.bs1-bt.de/" title="Zur Homepage der Berufsschule 1 Bayreuth">
                    <img class="img-logo" src="/assets/logo.png" alt="Logo der Berufsschule 1 Bayreuth">
                </a>
            </div>
            <div class="student col-12 col-lg-4 d-flex align-items-center justify-content-center">
                Hallo $student.firstName!
            </div>
            <div class="contact col-12 col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end gap-0-20">
                <a href="https://www.bs1-bt.de/allgemeines/kontakt"  title="Zur Kontaktseite" target="_blank" class="btn btn-outline-primary">Kontakt</a>
                <a href="/logout" title="Ausloggen" class="btn btn-outline-primary">Logout</a>
            </div>
        </div>
    </div>
</nav>

<div class="container student-data">
    <div class="row">
        <h2 class="color-primary pb-3">Deine Daten:</h2>
    </div>
    <div class="row gap-20-0">
        <div class="col-12 col-md-3 d-flex flex-column">
            <span class="color-primary"><u>Vorname:</u></span>
            <span class="pt-3">$student.firstName</span>
        </div>
        <div class="col-12 col-md-3 d-flex flex-column">
            <span class="color-primary"><u>Nachname:</u></span>
            <span class="pt-3">$student.surName</span>
        </div>
        <div class="col-12 col-md-3 d-flex flex-column">
            <span class="color-primary"><u>Geburtstag:</u></span>
            <span class="pt-3">$student.birthday</span>
        </div>
        <div class="col-12 col-md-3 d-flex flex-column">
            <span class="color-primary"><u>E-Mail:</u></span>
            <span class="pt-3">$student.email</span>
        </div>
    </div>
</div>
<div class="container class-data">
    <div class="row">
        <h2 class="color-primary pb-3">Deine Klasse:</h2>
    </div>
    <div class="row gap-20-0">
        <div class="col-12 col-md-3 d-flex flex-column">
            <span class="color-primary"><u>Klasse:</u></span>
            <span class="pt-3" id="classname">
                $student.className
            </span>
            <span class="alerttext" id="alerttext">
                Die endgültige Klasse wurde noch nicht zugewiesen.
            </span>
        </div>
        <div class="col-12 col-md-3 d-flex flex-column">
            <span class="color-primary"><u>Beruf:</u></span>
            <span class="pt-3">$student.job</span>
        </div>
        <div class="col-12 col-md-3 d-flex flex-column">
            <span class="color-primary"><u>Blockpläne:</u></span>
            <span class="pt-3">
                <a href="https://www.bs1-bt.de/service-download/blockplaene" title="Zu den Blockplänen" target="_blank" class="btn btn-outline-primary">Zu den Blockplänen</a>
            </span>
        </div>
    </div>
</div>
<div class="container student-info">
    <h2 class="color-primary">Hinweise zum Schuljahresbeginn</h2>
    <h3 class="color-primary">Mitzubringende Unterlagen am 1. Schultag</h3>
    <ul>
        <li>Papier und Schreibzeug</li>
        <li>Lehrvertrag (wenn bereits vorhanden)</li>
        <li>Abschlusszeugnis (Kopie) der zuletzt besuchten Schule</li>
        <li>Passbild (Name auf die Rückseite schreiben)</li>
        <li>Abmeldebescheinigung der Mittelschule (gibt es nur für Mittelschüler)</li>
        <li>Erhebungsbogen für Umschüler (nur Umschüler, <a href="https://bs1-bt.de/service-download/erhebungsbogen-fuer-umschueler" target="_blank" title="Erhebungsbogen für Umschüler">Download hier</a>)</li>
    </ul>
    <h3 class="color-primary">Willkommensbroschüre</h3>
    <p>Viele weitergehende Fragen können mit Hilfe unserer <a href="https://bs1-bt.de/service-download/willkommensbroschuere" target="_blank" title="Willkommensbroschüre">Willkommensbroschüre</a> geklärt werden, welche jeder Schüler zu Beginn des Schuljahres auch in gedruckter Form erhält.</p>
</div>

#parse("include/footer.vm")